<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
  </head>
  <body>
    <h1>Welcome to Bookstore About us Page!</h1>
    <a href="/app/help">Help</a>
    <a href="/app/contact-us">Contact us</a>
    <a href="/app/about-us">About us</a>
    <a href="/app/developer-api">Developer API</a>
  </body>
</html>
